@font-face{
	font-family:Supermercado One,cursive;
	src: url('../font/Supermercado One,cursive') format("truetype")
}
	
html{
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Open Sans',cursive;
	line-height: 1.5 ;
}

body{
	display: contents;
	background-color: #ffcabd;
}

svg.logo{
	height: 50px;
}

.conteiner{
	max-width: 120rem;
	
	margin: auto;
	text-align: center;
}

.flex{
	display: flex;
}

.flex.jc-sb{
	justify-content: space-between;
	margin-left: 1rem;
	margin-right: 3rem;

}

.flex.ai-c{
	align-items: center;
}

header{
	background: linear-gradient(90deg,#184cef 0, #e5422b);
	z-index: 50;
	width: 100%;
}

nav a{
	font-size: 1.2rem;
	margin: 30px;
	text-decoration: none;
	color: #FFF;
}

nav a:hover{
	text-decoration: none;
	color: #000;
}

footer{
	background: linear-gradient(90deg, #184cef 0, #e5422b);
	box-shadow: 0 0 10px #0007;
	padding: 1rem;
	position: relative;
	top: 0;
	z-index: 40;
	width: 100%;
}

footer a{
	text-decoration: none;
	color: #FFF;
}

footer a:hover{
	text-decoration: none;
	color: #000;
}
.ahtung{
	margin-left: 1rem;
	font-weight: bold;
}

h2{
	font-size: 48px;
	font-weight: 300;
	margin-top:0 ;
	margin-bottom: 40px;
}
p{
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 20px;
}

#first{
	height: calc(100vh - 90px);
	background: linear-gradient(#0007,#0006), url("../img/index.jpg");
	background-size: cover;
	color: #afdafc;
	text-align: center;
}

.first-heading{
	font-size: 32px;
	font-weight: 300;
	margin-top:0 ;
	margin-bottom: 40px;
}
.first-lead{
	font-size: 18px;
	max-width: 700px;
	margin-top: 0;
	margin-bottom: 20px;
}
.btn{
	cursor: pointer;
	padding: 8px 16px;
	background: linear-gradient(90deg, #184cef 0, #e5422b);
	color: black;
	transition: transform .5s cubic-bezier(.19,1,.22,1);
	font-weight: 500;
	border-radius: 10px;
}
.btn:hover{
	background: linear-gradient(90deg, #e5422b 0, #184cef);
	color: white;
}
.first-btn{
	border-radius: 10px;
	padding: 8px 32px;
	text-transform: upperc

section a{
	text-decoration: none;
	color: #1f75ff;
}
section a:hover{
	text-decoration: none;
	color: #991199;
}